@import url('https://rsms.me/inter/inter.css');

section.topco-d-container {
  position: relative;
}

.topco-d-search-brand > h2 {
  font-weight: normal;
  font-size: 48px;
}

.topco-d-search-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topco-d-search-brand-box {
  max-width: 550px;
  width: 100%;
}

.topco-d-search-brand-box > input {
  max-width: 550px;
  width: 100%;
  padding: 20px 25px;
  font-size: 20px;
  border-color: black;
}

.topco-brand-selectors > select {
  border-color: black;
  border-radius: 0;
  width: 100%;
  font-size: 20px;
  height: 70px;
  border-width: 2px;
}

.topco-brand-selectors {
  width: 100%;
  max-width: 550px;
}

.brand-dropdowns {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.results-btn {
  width: 100%;
  max-width: 220px;
}

.results-btn > button {
  height: 98%;
  font-size: 18px;
  width: 100%;
}

.company-logos-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 50px;
  padding: 70px 0;
}

.logo-box {
  box-shadow: 0 0 15px -10px #000;
  min-height: 360px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-section > ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.pagination-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pagination-section > ul > li > a {
  outline: none;
  color: black;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-section > ul > .paginationActive > a {
  color: #931219;
  font-weight: bold;
}

.pagination-section > ul > li > a:hover {
  color: #931219;
  font-weight: bold;
}

.info-popUp {
  position: absolute;
  background: white;
  top: 260px;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 55;
  box-shadow: 0 0 14px -10px #1c1c1c73;
}

.close-svg-icon {
  width: fit-content;
  position: absolute;
  top: 30px;
  height: fit-content;
  right: 30px;
}

.close-svg-icon > svg {
  width: 50px;
  cursor: pointer;
  height: 50px;
}

.popUp-container {
  padding: 90px;
}

.popUp-container > .pop-logo {
  margin-bottom: 40px;
}

.address-details table {
  margin-top: 40px;
  width: 100%;
}

.address-details table tbody tr:nth-child(2n) {
  background: #f1f1f1cc;
}

.address-details table tbody tr td {
  border-color: #cbcbcb;
  color: #858585;
}

.address-details table tbody tr:nth-child(1n):not(:last-child) td {
  border-bottom: none;
}

.address-details table tbody tr:nth-child(2n) td {
  border-top: none;
}

.address-details table tbody tr {
  height: 10px;
  line-height: 0.8;
}

.googleMap > div {
  width: 100% !important;
}

@media screen and (max-width: 1023px) {
  .company-logos-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .company-logos-grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 10px;
  }

  .logo-box {
    min-height: 100px;
  }

  .brand-dropdowns {
    flex-direction: column;
  }

  .topco-d-search-brand {
    justify-content: center;
    flex-direction: column;
  }
}
/**
 * Main wrapper
 */
.select-search-container {
  --select-search-background: #fff;
  --select-search-border: #dce0e8;
  --select-search-selected: #1e66f5;
  --select-search-text: #000;
  --select-search-subtle-text: #6c6f85;
  --select-search-inverted-text: var(--select-search-background);
  --select-search-highlight: #eff1f5;
  --select-search-font: 'Inter', sans-serif;

  width: 100%;
  max-width: 550px;
  position: relative;
  font-family: var(--select-search-font);
  color: var(--select-search-text);
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  .select-search-container {
    --select-search-font: 'Inter var', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  .select-search-container {
    --select-search-background: #000;
    --select-search-border: #313244;
    --select-search-selected: #89b4fa;
    --select-search-text: #fff;
    --select-search-subtle-text: #a6adc8;
    --select-search-highlight: #1e1e2e;
  }
}

body.is-dark-mode .select-search-container {
  --select-search-background: #000;
  --select-search-border: #313244;
  --select-search-selected: #89b4fa;
  --select-search-text: #fff;
  --select-search-subtle-text: #a6adc8;
  --select-search-highlight: #1e1e2e;
}

body.is-light-mode .select-search-container {
  --select-search-background: #fff;
  --select-search-border: #dce0e8;
  --select-search-selected: #1e66f5;
  --select-search-text: #000;
  --select-search-subtle-text: #6c6f85;
  --select-search-highlight: #eff1f5;
}

.select-search-container *,
.select-search-container *::after,
.select-search-container *::before {
  box-sizing: inherit;
}

.select-search-input {
  position: relative;
  z-index: 1;
  display: block;
  height: 48px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: var(--select-search-background);
  border: 2px solid #000;
  color: var(--select-search-text);
  border-radius: 3px;
  outline: none;
  font-family: var(--select-search-font);
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 48px;
  letter-spacing: 0.01rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  height: 70px;
}

.select-search-is-multiple .select-search-input {
  margin-bottom: -2px;
}

.select-search-is-multiple .select-search-input {
  border-radius: 3px 3px 0 0;
}

.select-search-input::-webkit-search-decoration,
.select-search-input::-webkit-search-cancel-button,
.select-search-input::-webkit-search-results-button,
.select-search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search-input[readonly] {
  cursor: pointer;
}

.select-search-is-disabled .select-search-input {
  cursor: not-allowed;
}

.select-search-container:not(.select-search-is-disabled).select-search-has-focus
  .select-search-input,
.select-search-container:not(.select-search-is-disabled)
  .select-search-input:hover {
  border-color: var(--select-search-selected);
}

.select-search-select {
  background: var(--select-search-background);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border: 2px solid var(--select-search-border);
  overflow: auto;
  max-height: 360px;
}

.select-search-container:not(.select-search-is-multiple) .select-search-select {
  position: absolute;
  z-index: 2;
  top: 58px;
  right: 0;
  left: 0;
  border-radius: 3px;
  display: none;
}

.select-search-container:not(.select-search-is-multiple).select-search-has-focus
  .select-search-select {
  display: block;
}

.select-search-has-focus .select-search-select {
  border-color: var(--select-search-selected);
}

.select-search-options {
  list-style: none;
}

.select-search-option,
.select-search-not-found {
  display: block;
  height: 42px;
  width: 100%;
  padding: 0 16px;
  background: var(--select-search-background);
  border: none;
  outline: none;
  font-family: var(--select-search-font);
  color: var(--select-search-text);
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.01rem;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.select-search-option:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: transparent !important;
}

.select-search-is-highlighted,
.select-search-option:not(.select-search-is-selected):hover {
  background: var(--select-search-highlight);
}

.select-search-is-selected {
  font-weight: bold;
  color: var(--select-search-selected);
}

.select-search-group-header {
  font-size: 12px;
  text-transform: uppercase;
  background: var(--select-search-border);
  color: var(--select-search-subtle-text);
  letter-spacing: 0.1rem;
  padding: 10px 16px;
}

.select-search-row:not(:first-child) .select-search-group-header {
  margin-top: 10px;
}

.select-search-row:not(:last-child) .select-search-group-header {
  margin-bottom: 10px;
}
